#logout {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
}
#logout h1 {
    text-align: center;
    width: 100%;
    font-size: 48px;
}
#login_form {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 275px;
    height: 425px;
    background: white;
    border-radius: 4px;
    border: 1px solid #E0DEDE;
    margin: auto;
    margin-top: -200px;
    margin-left: -137.5px;
}
#login_form input {
    padding: 10px;
    background: #ECF2F4;
    border: 0;
    margin: 4px 0;
    outline: none;
    width: 100%;
    display: inline-block;
}
#login_form .has-error input {
    background: #F5EAEA;
}
#login_form button,#login_form .button {
    display: inline-block;
    width:49%;
    border-radius: 0;
    margin: 2px 0;
    outline: none;
    padding: 10px;
}
#login_form .logo {
    height: 210px;
}
#login_form form {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    padding: 7px;
}
#login_form .control-label {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
#login_form .password_lost {
    display: inline-block;
    color: #7C7C7C;
    width: 100%;
    text-align: center;
    margin: 2px 0;
    font-size: 15px;
}
#login_form .logo img {
    width: 100%;
}