#paper {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
#paper .listType input {
    visibility: hidden;
    width: 0;
}
#paper .listType span {
    font-size: 20px;
    color: #444;
    line-height: 45px;
    cursor: pointer;
}
#paper .listType input:checked + span {
    color: #025097;
}
#paper .listType {
    position: relative;
    background: #F8F8F8;
    width: 100%;
    z-index: 4;
    text-align: center;
    height: 37px;
    z-index: 4;
}
#paper .leftCol .list {
    position: absolute;
    overflow: auto;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 37px;
    padding-left: 7px;
}
#paper .toc {
    padding-left:13px
}
#paper .toc a {
 cursor: pointer;
 color: #333;
}
#paper .leftCol .toc ul li {
    list-style: none;
}
#paper .leftCol .toc ul,#paper .leftCol .list ol {
    margin-left: 0;
    padding-left: 10px;
}
#paper .leftCol div.preview_page_container {
    background: #FFF;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin: 7px;
    margin-left: 0;
    cursor: pointer;
}
#paper .leftCol img.preview_page {
    width: 100%;
    height: auto;
}
#paper .leftCol {
    position: absolute;
    width: 215px;
    float: left;
    top: 0;
    margin-top: 42px;
    margin-right: 3px;
    bottom: 0;
    background: #fff;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.2);
    z-index: 9;
}
#paper .centerRightCol {
    position: absolute;
    left: 0;
    padding-left: 215px;
    right:0;
    top: 0;
    bottom:0;
    padding-top: 42px;
}
#paper .centerCol {
    position:relative;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
#paper .centerCol textarea {
    position:relative;
    border: 0;
    outline: none;
    resize: none;
    margin: 0;
    width: 100%;
    height: 95%;
    padding: 15px;
}
#paper .rightCol {
    position:relative;
    float: left;
    width: 50%;
    height: 100%;
}

.ace_editor {
    width: 100%;
    height: 100%;
}
.ace-tm .ace_gutter {
    background: #EEE;
}

#preview {
    width: 100%;
    height: 100%;
    overflow: auto;
}
#preview div.preview_page_container {
    background: #FFF;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
}
#preview img.preview_page {
    width: 100%;
    height: auto;
}

#paper_settings {
    position: absolute;
    background: #373942;
    padding: 7px;
    color: #fff;
    width: 450px;
    height: 450px;
    overflow: auto;
}
#paper_settings label {
    color: #fff;
}
#paper_settings h2, #paper_settings h3{
    color: #fff;
    margin: 0;
}

#paper_settings select {
    outline: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
}
#upload_resource .icon {
    position: absolute;
    float:left;
    padding-top: 2px;
    top: 0;
    left: 0;
    font-size: 37px;
    color: #555;
}

#upload_resource {
    border: 2px solid transparent;
    border-left: 0;
    border-right: 0;
}
#upload_resource input{
    visibility: hidden;
    height: 0;
    float: right;
}
#upload_resource label {
    position: relative;
    display: block;
    background: #F0F0F0;
    padding: 7px;
    margin-right: 7px;
    cursor: pointer;
}
#upload_resource .label {
    margin-left: 30px;
}
#upload_resource .label .extension {
    color: #999;
    font-size: 80%;
}
.file-hover {
    border: 2px solid #ddd;
    border-left: 0;
    border-right: 0;
}
#file_list {

}
#file_list .file{
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
#file_list .file .icon {
    font-size: 24px;

    position: absolute;
    color: #555;
    left: -5px;
}
#file_list .file .label {
    margin-left: 20px;

    float: left;
    line-height: 24px;
}
#file_list .file .label .extension {
    color: #999;
    font-size: 80%;
}
#file_list .file button {
    float: right;

    background: transparent;
    color: #333;
    padding: 0;
    font-size: 17px;
    padding: 5px;
    padding-bottom: 0;
    margin: 0;
}