#paper {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
#paper .listType input {
    visibility: hidden;
    width: 0;
}
#paper .listType span {
    font-size: 20px;
    color: #444;
    line-height: 45px;
    cursor: pointer;
}
#paper .listType input:checked + span {
    color: #025097;
}
#paper .listType {
    position: relative;
    text-align: center;
    height: 37px;
    z-index: 4;
    width: 215px;
    float: left;
}
#paper .leftCol .list {
    position: absolute;
    overflow: auto;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 0px;
    padding-left: 7px;
}
#paper .toc {
    padding-left:13px
}
#paper .toc a {
 cursor: pointer;
 color: #333;
}
#paper .leftCol .toc ul li {
    list-style: none;
}
#paper .leftCol .toc ul,#paper .leftCol .list ol {
    margin-left: 0;
    padding-left: 10px;
}
#paper .toc .current {
  font-weight: bold;
}
#paper .leftCol div.preview_page_container {
    background: #FFF;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin: 7px;
    margin-left: 0;
    cursor: pointer;
}
#paper .leftCol img.preview_page {
    width: 100%;
    height: auto;
}
#paper .leftCol {
    position: absolute;
    width: 215px;
    float: left;
    top: 82px;
    margin-right: 3px;
    bottom: 0;
    background: #fff;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.2);
    z-index: 9;
}
#paper .centerRightCol {
    position: absolute;
    left: 0;
    padding-left: 215px;
    right:0;
    bottom:0;
    top: 82px;
}
#paper .centerCol {
    position:relative;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
#paper .centerCol textarea {
    position:relative;
    border: 0;
    outline: none;
    resize: none;
    margin: 0;
    width: 100%;
    height: 95%;
    padding: 15px;
}
#paper .rightCol {
    position:relative;
    float: left;
    width: 50%;
    height: 100%;
}

.ace_editor {
    width: 100%;
    height: 100%;
}
.ace-tm .ace_gutter {
    background: #EEE;
}

#preview {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
#preview div.preview_page_container {
    position: relative;
    background: #FFF;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
}
.textLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #000;
    font-family: sans-serif;
    overflow: hidden;
    z-index: 1;
}

.textLayer > div {
    color: transparent;
    position: absolute;
    line-height: 1;
    white-space: pre;
    cursor: text;
}

.textLayer .highlight {
    margin: -1px;
    padding: 1px;

    background-color: rgba(180, 0, 170, 0.2);
    border-radius: 4px;
}

.textLayer .highlight.begin {
    border-radius: 4px 0px 0px 4px;
}

.textLayer .highlight.end {
    border-radius: 0px 4px 4px 0px;
}

.textLayer .highlight.middle {
    border-radius: 0px;
}

.textLayer .highlight.selected {
    background-color: rgba(0, 100, 0, 0.2);
}
.hightlight_line {
  position: absolute;
  background: rgba(255, 0, 0, 0.13);
  z-index: 0;
}
#paper .options {
    position: absolute;
    top: 42px;
    height: 40px;
    width: 100%;
    background: #FAFAFA;
    z-index: 99;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#paper .options > .left {
    width: 215px;
    float: left;
}
#paper .options .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 215px;
    right: 0;
}
#paper .options .center .left,#paper .options .center .right  {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
}
.subOption {
    position: relative;
    height: 100%;
    float: left;
    margin-right: 6px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}
.subOption .subOptions {
    background: #FAFAFA;
}
.subOption .label {
    display: inline-block;
    line-height: 40px;
}

.subOption > label {
    cursor: pointer;
    padding: 11px 0px;
}
.subOption > label:hover {
    background: rgba(0,0,0,0.2);
}
.subOption > label span {
    position: relative;
    font-size: 25px;
    top: 7px;
}
.subOption > label input {
    display: none;
}

.pdf_action {
    padding: 6px;
}

.pdf_action .navigation {
    float: right;
}
.pdf_action .navigation .prevPage,.pdf_action .navigation .nextPage,.pdf_action .navigation .prevPage,.pdf_action .navigation span,.pdf_action .navigation .totalPage {
    float: left;
    line-height: 30px;
}
.pdf_action .navigation input {
    float: left;
    width: 25px;
    min-width: 35px;
    padding: 3px;
    text-align: center;
}
.pdf_action .scale {
    float: right;
}
.pdf_action .scale select {
    width: 100px;
    min-width: 100px;
}
#preview img.preview_page {
    width: 100%;
    height: auto;
}

#paper_settings {
    position: absolute;
    background: #373942;
    padding: 7px;
    color: #fff;
    width: 450px;
    height: 450px;
    overflow: auto;
}
#paper_settings label {
    color: #fff;
}
#paper_settings h2, #paper_settings h3{
    color: #fff;
    margin: 0;
}

#paper_settings select {
    outline: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
}
#upload_resource .icon {
    position: absolute;
    float:left;
    padding-top: 2px;
    top: 0;
    left: 0;
    font-size: 37px;
    color: #555;
}

#upload_resource {
    border: 2px solid transparent;
    border-left: 0;
    border-right: 0;
}
#upload_resource input{
    visibility: hidden;
    height: 0;
    float: right;
}
#upload_resource label {
    position: relative;
    display: block;
    background: #F0F0F0;
    padding: 7px;
    margin-right: 7px;
    cursor: pointer;
}
#upload_resource .label {
    margin-left: 30px;
}
#upload_resource .label .extension {
    color: #999;
    font-size: 80%;
}
.file-hover {
    border: 2px solid #ddd;
    border-left: 0;
    border-right: 0;
}
#file_list {

}
#file_list .file{
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
#file_list .file .icon {
    font-size: 24px;

    position: absolute;
    color: #555;
    left: -5px;
}
#file_list .file .label {
    margin-left: 20px;

    float: left;
    line-height: 24px;
}
#file_list .file .label .extension {
    color: #999;
    font-size: 80%;
}
#file_list .file button {
    float: right;
    background: transparent;
    color: #333;
    padding: 0;
    font-size: 17px;
    padding: 5px;
    padding-bottom: 0;
    margin: 0;
}