Hi {{firstName}},

Thank your for registering with the \BlueLaTeX service at {{baseUrl}}.

Your login is: {{name}}
Your registration email address is: {{email}}

Thank you for using \BlueLaTeX

Your \BlueLaTeX team
