Hi,

We received a password reset request for your account.

To actually change your password, please follow this link:
{{baseUrl}}#/{{name}}/reset/{{token}}

This link is valid during {{validity}} days.

If you did not request a password reset, you can just ignore this email.

Thank you for using \Blue

Your \Blue team
