<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>./blue-server.log</file>
    <append>true</append>
    <encoder>
      <pattern>%level [%d] %logger: %msg%n%ex</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="FILE" />
  </root>
</configuration>
