<div id="form-page">
    <h1 data-i18n="_New_paper_"></h1>
    <form name="newPaperForm" ng-submit="create()">
        <div bl-messages></div>
        <div class="grid">
            <div class="col c1-3">
                <label for="name" data-i18n="_Paper_name_" i18n-Tooltip="_paper_name_tooltip_"></label>
                <span class="control-label"
                  ng-show="newPaperForm.name.$error.required" data-i18n="_Required_"></span>
            </div>
            <div class="col c2-3 form-group"
              ng-class="{'has-error': newPaperForm.name.$invalid}">
              <input class="form-control" id="name" name="name" type="text" autofocus
                data-i18n-attr="_Paper_name_|placeholder" required ng-model="paper.paper_name" />
            </div>
        </div>
        <div class="grid">
            <div class="col c1-3">
                <label for="title" data-i18n="_Title_" i18n-Tooltip="_paper_title_tooltip_"></label>
                <span class="control-label"
                  ng-show="newPaperForm.title.$error.required" data-i18n="_Required_"></span>
            </div>
            <div class="col c2-3 form-group"
              ng-class="{'has-error': newPaperForm.title.$invalid}">
              <input class="form-control" id="title" name="title" type="text"
                data-i18n-attr="_Title_|placeholder" required ng-model="paper.paper_title" />
            </div>
        </div>
        <div class="grid">
            <div class="col c1-3">
                <label for="template" data-i18n="_Template_" i18n-Tooltip="_paper_template_tooltip_"></label>
                <span class="control-label"
                  ng-show="newPaperForm.template.$error.required" data-i18n="_Required_"></span>
            </div>
            <div class="col c2-3 form-group"
              ng-class="{'has-error': newPaperForm.template.$invalid}">
              <select class="form-control" id="template" name="template"
                data-i18n-attr="_Template_|placeholder" ng-model="paper.template"
                ng-options="key as template.name group by template.scope for (key, template) in templates">
              </select>
            </div>
        </div>
        <div class="grid">
            <div class="col c1-3">
                <label for="visibility" data-i18n="_Visibility_" i18n-Tooltip="_paper_visibility_tooltip_"></label>
            </div>
            <div class="col c2-3 form-group"
              ng-class="{'has-error': newPaperForm.visibility.$invalid}">
              <select class="form-control" id="visibility" name="visibility"
                data-i18n-attr="_Visibility_|placeholder" ng-model="paper.visibility"
                ng-options="key as visibility for (key, visibility) in visibilities">
              </select>
            </div>
        </div>
        <a class="button" href="#/papers" data-i18n="_Cancel_"></a>
        <button type="submit" ng-disabled="!newPaperForm.$valid || saving"  ng-class="{'process': saving}" data-i18n="_Create_"></button>
    </form>
</div>
