<section id="paper">
    <section class="centerRightCol">
        <section class="centerCol">
            <div ui-ace="{
              useWrapMode : true,
              showGutter: true,
              mode: 'latex',
              onLoad: aceLoaded,
              onChange: aceChanged
            }">\documentclass[12pt]{article}
\usepackage{amsmath}
\usepackage{graphicx}
\usepackage{xcolor}
\usepackage{lipsum} % Required to insert dummy text
\title{\TeX live.js}
\author{Created by Manuel Sch\"olling}
\date{\today}
\begin{document}
  \maketitle
  \TeX{}live.js is a compiler for the \TeX{}
  typesetting program created using Mozilla's Emscripten
  Compiler. It offers programmable desktop
  publishing features and extensive facilities for
  automating most aspects of typesetting and desktop
  publishing, including numbering and cross-referencing,
  tables and figures, page layout, bibliographies, and
  much more. It supports \LaTeX{} which was originally written
  in 1984 by Leslie Lamport and has become the dominant method for
  using \TeX;

  % This is a comment, not shown in final output.
  % The following shows typesetting power of LaTeX:
  \begin{align}
    E_0 &= mc^2                              \\
    E &= \frac{mc^2}{\sqrt{1-\frac{v^2}{c^2}}}
  \end{align}


  \TeX{}live.js even supports images! This photo was taken by Laura Poitras/Praxis Films

  \includegraphics[height=5cm, keepaspectratio]{snowden}
\end{document}</div>
        </section>
        <section class="rightCol">
            <div id="preview">
              <div class="preview_page_container">
                <img class="preview_page" src="//writelatex.s3.amazonaws.com/qkmscjgckstd/page/e3ec3f7bcb5c9e01a9e1630ddbabce9ec89edda4.jpeg">
              </div>
              <div class="preview_page_container">
                <img class="preview_page" src="//writelatex.s3.amazonaws.com/qkmscjgckstd/page/4e97a487a6e1525e2c7d548b98caa06447003d8c.jpeg">
              </div>
            </div>
        </section>
    </section>
    <section class="leftCol">
      <div class="btn-group listType">
        <label class="btn btn-default" ng-class="{'active': listType=='toc'}" for="toc">
            <input type="radio" name="listType" value="toc" id="toc" ng-model="listType">
            <span class="icon-list" ></span>
        </label>
        <label class="btn btn-default" ng-class="{'active': listType=='figures'}" for="figure">
            <input type="radio" name="listType" value="figures" id="figure" checked="true" ng-model="listType">
            <span class="icon-vignette"></span>
        </label>
        <label class="btn btn-default" ng-class="{'active': listType=='files'}" for="files">
            <input type="radio" name="listType" value="files" id="files" ng-model="listType">
            <span class="icon-file"></span>
        </label>
      </div>
      <section class="list">
        <div class="toc" ng-show="listType=='toc'"><div bl-toc="toc"></div></div>
        <div class="figures" ng-show="listType=='figures'">
          <div class="preview_page_container">
            <img class="preview_page" src="//writelatex.s3.amazonaws.com/qkmscjgckstd/page/e3ec3f7bcb5c9e01a9e1630ddbabce9ec89edda4.jpeg">
          </div>
          <div class="preview_page_container">
            <img class="preview_page" src="//writelatex.s3.amazonaws.com/qkmscjgckstd/page/4e97a487a6e1525e2c7d548b98caa06447003d8c.jpeg">
          </div>
        </div>
        <div class="files" ng-show="listType=='files'">
          files
        </div>
      </section>
    </section>
</section>