<div id="form-page">
  <h1 data-i18n="_ChangePasswordTitle_"></h1>

  <form name="resetForm" novalidate ng-submit="resetPassword()">
    <div bl-messages></div>
    <div class="grid">
      <div class="col c1-3">
        <label for="rest_password1" data-i18n="_Password_"></label>
        <span class="control-label"
            ng-show="resetForm.password1.$error.required" data-i18n="_Required_"></span>
      </div>
      <div class="col c2-3 form-group"
        ng-class="{'has-error': resetForm.password1.$invalid}">
        <input class="form-control" id="rest_password1" name="password1" type="password" autofocus
        data-i18n-attr="_Password_|placeholder" required ng-model="user.new_password" />
      </div>
    </div>

    <div class="grid">
      <div class="col c1-3">
        <label for="rest_password2" data-i18n="_Confirm_Password_"></label>
        <span class="control-label"
            ng-show="resetForm.password2.$error.required" data-i18n="_Required_"></span>
        <span class="control-label"
          ng-show="resetForm.password1.value != resetForm.password2.value" data-i18n="_Two_different_passwords_"></span>
      </div>
      <div class="col c2-3 form-group"
        ng-class="{'has-error': resetForm.password2.$invalid}">
        <input class="form-control" id="rest_password2" name="password2" type="password"
        data-i18n-attr="_Confirm_Password_|placeholder" required ng-model="user.new_password_2" />
      </div>
    </div>

    <div class="form-group">
      <a class="button" href="#/login" data-i18n="_Cancel_"></a>
      <button type="submit" ng-disabled="!resetForm.$valid || requesting"  ng-class="{'process': requesting}" data-i18n-attr="_Save_|value" disabled="disabled">
        <span data-i18n="_Save_"></span>
      </button>
    </div>
  </form>
</div>
