<div id="register_form">
  <h1 data-i18n="_ResetTitle_"></h1>
  <form name="resetForm" novalidate ng-submit="reset()">
    <div bl-messages></div>
    <div class="form-group"
      ng-class="{'has-error': resetForm.username.$invalid}">
      <label class="form-label" for="rest_username" data-i18n="_Username_"></label>
      <input class="form-control" id="rest_username" name="username" type="text" autofocus
        data-i18n-attr="_Username_|placeholder" required ng-model="user.username" />
        <span class="control-label"
          ng-show="resetForm.username.$error.required" data-i18n="_Required_"></span>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right" ng-disabled="!resetForm.$valid"
        data-i18n-attr="_Submit_|value" data-i18n-attr="_Submit_|title">
        <span data-i18n="_Submit_"></span>
      </button>
      <a class="button" href="#/" data-i18n="_Cancel_">Cancal</a>
    </div>
  </form>
</div>