/**
 * Share
 */
.ngdialog #form-page {
  padding:0;
  margin: 0;
  min-height: auto;
  width: auto;
  background: transparent;
  box-shadow: none;
}
@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

.ngdialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

.ngdialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}

body.ngdialog-open {
  overflow: hidden;
}

.ngdialog.ngdialog-theme-plain .ngdialog-content {
  background: #fff;
  color: #444;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 550px;
}

.ngdialog.ngdialog-theme-plain .ngdialog-content h1,
.ngdialog.ngdialog-theme-plain .ngdialog-content h2,
.ngdialog.ngdialog-theme-plain .ngdialog-content h3,
.ngdialog.ngdialog-theme-plain .ngdialog-content h4,
.ngdialog.ngdialog-theme-plain .ngdialog-content h5,
.ngdialog.ngdialog-theme-plain .ngdialog-content h6,
.ngdialog.ngdialog-theme-plain .ngdialog-content p,
.ngdialog.ngdialog-theme-plain .ngdialog-content ul,
.ngdialog.ngdialog-theme-plain .ngdialog-content li {
  color: inherit;
}

.ngdialog.ngdialog-theme-plain .ngdialog-close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.ngdialog.ngdialog-theme-plain .ngdialog-close:before {
  background: transparent;
  color: #bbb;
  content: "\00D7";
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}

.ngdialog.ngdialog-theme-plain .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-plain .ngdialog-close:active:before {
  color: #777;
}

.ngdialog.ngdialog-theme-plain .ngdialog-message {
  margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-plain .ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-plain .ngdialog-buttons:after {
  clear: both;
  content: '';
  display: table;
}

.ngdialog.ngdialog-theme-plain .ngdialog-button {
  border: 0;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.ngdialog.ngdialog-theme-plain .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-plain .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.ngdialog.ngdialog-theme-plain .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.ngdialog.ngdialog-theme-plain .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}