<div id="manage">
    <h1 data-i18n="_Edit_paper_"></h1>
    <form name="editPaperForm" ng-submit="modify()">
        <div ng-show="errors.length > 0" class="errors">
          <div ng-repeat="error in errors" class="error">{{error}}</div>
        </div>
        <div class="grid">
            <div class="col c1-3">
                <label for="title" data-i18n="_Title_">Title</label>
            </div>
            <div class="col c2-3 form-group">
              <input class="form-control" id="title" disabled="disabled" name="title" type="text" autofocus
                data-i18n-attr="_Title_|placeholder" required ng-model="paper.title" />
                <span class="control-label"
                  ng-show="editPaperForm.title.$error.required" data-i18n="_Required_"></span>
            </div>
        </div>
        <div class="grid">
            <div class="col c1-3">
                <label for="authors" data-i18n="_Authors_"></label>
            </div>
            <div class="col c2-3 form-group">
              <div class="authors">
                <div class="author" ng-repeat="author in paper.authors">
                  <input type="hidden" ng-model="author">
                  <div class="label">{{author}}</div>
                  <button type="link" ng-click="removeAuthor(author)" class="icon-delete"></button>
                </div>
                <div class="clear"></div>
              </div>
              <div class="new">
                <input type="text" ng-model="new_author" placeholder="New author">
                <a ng-click="addAuthor()" class="button icon-add"></a>
              </div>
            </div>
        </div>
        <div class="grid">
            <div class="col c1-3">
                <label for="reviewers" data-i18n="_Reviewers_">Reviewers</label>
            </div>
            <div class="col c2-3 form-group">
              <div class="reviewers">
                <div class="reviewer" ng-repeat="reviewer in paper.reviewers">
                  <input type="hidden" ng-model="reviewer">
                  <div class="label">{{reviewer}}</div>
                  <button type="link"  ng-click="removeReviewers(reviewer)" class="icon-delete"></button>
                </div>
                <div class="clear"></div>
              </div>
              <div class="new">
                <input type="text" ng-model="new_reviewer" placeholder="New reviewer">
                <a ng-click="addReviewer()" class="button icon-add"></a>
              </div>
            </div>
        </div>
        <button type="submit" ng-disabled="!editPaperForm.$valid" data-i18n="_Edit_"></button>
        <a class="button" href="#/papers" data-i18n="_Cancel_"></a>
    </form>
</div>