<div id="login_form">
  <div class="logo">
    <img src="/img/login-logo.png" alt="bluelatex">
  </div>
  <form name="loginForm" novalidate ng-submit="login()">
    <div ng-show="errors.length > 0" class="errors">
      <div ng-repeat="error in errors" class="error">{{error}}</div>
    </div>
    <div class="form-group"
      ng-class="{'has-error': loginForm.username.$invalid}">
      <input class="form-control" name="username" type="text"
        data-i18n-attr="_Username_|placeholder" required ng-model="user.username" autocomplete="off" autofocus />
        <span class="control-label"
          ng-show="loginForm.username.$error.required" data-i18n="_Required_"></span>
    </div>
    <div class="form-group"
      ng-class="{'has-error': loginForm.password.$invalid}">
      <input class="form-control" name="password" type="password"
        data-i18n-attr="_Password_|placeholder" required ng-model="user.password" autocomplete="off"/>
        <span class="control-label"
          ng-show="loginForm.password.$error.required" data-i18n="_Required_"></span>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right" ng-disabled="!loginForm.$valid"
        data-i18n-attr="_Login_|value" data-i18n-attr="_Login_|title">
        <span data-i18n="_Login_"></span>
      </button>
      <a class="button" href="#/register" data-i18n="_Register_">Register</a>
      <a href="#/reset" class="password_lost" data-i18n="_Password_Lost_">Password lost</a>
    </div>
  </form>
</div>