<div class="top options">
  <div class="left">
    <div class="btn-group listType">
      <label class="btn btn-default"  ng-class="{'active': listType=='files'}" for="files">
          <input type="radio" name="listType" value="files" id="files" ng-model="listType">
          <span class="icon-file"></span>
      </label>
      <label class="btn btn-default" ng-class="{'active': listType=='toc'}" for="toc">
          <input type="radio" name="listType" value="toc" id="toc" ng-model="listType">
          <span class="icon-list" ></span>
      </label>
      <label class="btn btn-default" ng-class="{'active': listType=='figures'}" for="figure">
          <input type="radio" name="listType" value="figures" id="figure" checked="true" ng-model="listType">
          <span class="icon-vignette"></span>
      </label>
      <label class="btn btn-default" ng-class="{'active': listType=='debug'}" for="debug">
          <input type="radio" name="listType" value="debug" id="debug" checked="true" ng-model="listType">
          <span class="icon-vignette"></span>
      </label>
    </div>
  </div>
  <div class="center">
    <div class="left">
      <div class="subOption">
        <div class="label">
          <span class="has_sub_label" ng-click="compile()">Compile</span>
          <div class="sub_label">ctrl + s</div>
        </div>
        <label><input type="checkbox" name="compilerOptions" ng-model="compilerOptions">
          <span class="icon-down-empty"></span></label>
        <div class="subOptions" ng-show="compilerOptions">
          <label class="bg"><input type="checkbox" name="compilerOptions" ng-model="compilerOptions"></label>
          <label>Compiler: </label>
          <div class="compilers">
          <label ng-repeat="c in compilers">
            <input type="radio" name="compiler" value="{{c.name}}" ng-checked="compiler.compiler==c.name" ng-class="{selected: compiler.compiler==c.name}" >
            {{c.name}}
          </label>
          </div>
          <div>
            <label>
              <span>Interval</span> <input type="number" ng-model="compiler.interval">
            </label>
          </div>
          <div>
            <label>
              <span>Synctex</span> <input type="checkbox" ng-model="compiler.synctex">
            </label>
          </div>
        </div>
      </div>
      <div class="subOption">
        <div class="label">
          <span ng-click="downloadPDF()">Download</span>
        </div>
        <label><input type="checkbox" name="downloadOptions" ng-model="downloadOptions"><span class="icon-down-empty"></span></label>
        <div class="subOptions" ng-show="downloadOptions">
          <label class="bg"><input type="checkbox" name="downloadOptions" ng-model="downloadOptions"></label>
          <div ng-click="downloadPDF()">Download PDF</div>
          <div ng-click="downloadZip()">Download Zip</div>
          <div ng-click="downloadLog()">Download Log</div>
        </div>
      </div>
      <div class="option" ng-click="openItsalltext()">
        Emacs Users
      </div>
    </div>
    <div class="right">
      <div class="messages" bl-messages></div>
      <div class="pdf_action">
        <div class="scale">
          <select ng-model="scale">
            <option value="auto">Auto</option>
            <option value="0.5">50%</option>
            <option value="0.75">75%</option>
            <option value="1">100%</option>
            <option value="1.25">125%</option>
            <option value="1.50">150%</option>
            <option value="2">200%</option>
          </select>
        </div>
        <div class="navigation">
          <div class="prevPage icon-prev-page" ng-click="prevPage()">&nbsp;</div>
          <input type="text" ng-model="currentPage">
          <span>/</span>
          <div class="totalPage">{{totalPage}}</div>
          <div class="nextPage icon-next-page" ng-click="nextPage()">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="centerRightCol">
    <section class="centerCol">
        <div ng-show="mode=='ace'" ui-ace="{
          useWrapMode : true,
          showGutter: true,
          mode: 'latex',
          onLoad: aceLoaded,
          onChange: aceChanged
        }" ng-model="content"></div>
        <textarea class="itsalltext" ng-hide="mode=='ace'" ng-model="content"
                  itsalltext-control="content"
                  itsalltext-extension=".tex"></textarea>
    </section>
    <section class="rightCol">
        <div id="preview">
          <div ng-repeat="n in range(totalPage) track by $index" class="preview_page_container" bl-vignette
          data-synctex="synctex"
          data-currentPage="currentPage"
          data-currentLine="currentLine"
          data-vignetteType="vignetteType"
          data-page="{{$index+1}}"
          data-paperId="paperId"
          data-revision="revision"
          data-scale="scale"></div>
        </div>
    </section>
</section>
<section class="leftCol">
  <section class="list" ng-switch="listType">
    <div class="toc" ng-switch-when="toc" bl-toc="toc"></div>
    <div class="debug" ng-switch-when="debug">
      <h2>Debug</h2>
      File: {{currentElem.file}}<br>
      Line: {{currentElem.line}}<br>
      bottom: {{currentElem.bottom}}<br>
      left: {{currentElem.left}}<br>
      currentLine: {{currentLine}}<br>
      currentPage: {{currentPage}}<br>
      <label><input type="checkbox" ng-model="displaySyncTexBox">display SyncTex Box</label>
      <input type="text" ng-model="scale">
    </div>
    <div class="figures" ng-switch-when="figures">
      <div ng-repeat="n in range(totalPage) track by $index" class="preview_page_container" bl-vignette
      data-current="current"
      data-vignetteType="image"
      data-page="{{$index+1}}"
      data-currentPage="currentPage"
      data-paperId="paperId"
      data-scale="auto"
      data-revision="revision"
      ng-click="changePage($index+1)"></div>
    </div>
    <div class="files" ng-switch-when="files">
      <div id="file_list">
        <div class="folder open">
          <span class="icon icon-folder-open"></span>
          <div class="folder_name" data-i18n="_Resources_"></div>
          <div class="files">
            <div class="file" ng-class="" ng-repeat="file in resources" ng-class="{current: file==currentFile}">
              <div class="icon type-{{file.extension}}"></div>
              <div class="label" ng-click="insertResource(file)">{{file.name}}<span class="extension" ng-if="file.extension">.{{file.extension}}</span></div>
              <button ng-click="removeResource(file)" class="delete icon-delete"></button>
              <button ng-click="viewResource(file)" class="view icon-view"></button>
              <button ng-click="downloadResource(file)" class="download icon-download"></button>
              <div class="clear"></div>
            </div>
            <div class="file" ng-if="resources.length == 0" data-i18n="_No_resource_found_"></div>
          </div>
        </div>
        <div class="files">
          <div class="file" ng-repeat="file in synchronizedFiles" ng-class="{current: file==currentFile}">
            <div class="icon type-{{file.extension}}"></div>
            <div class="label" ng-click="changeFile(file)">{{file.name}}<span class="extension" ng-if="file.extension">.{{file.extension}}</span></div>
            <button ng-click="removeSynchronisedFile(file)" class="delete icon-delete"></button>
            <div class="clear"></div>
          </div>
          <div class="file" ng-if="synchronizedFiles.length == 0" data-i18n="_No_synchronized_file_found_"></div>
        </div>
      </div>
      <section id="new_file">
        <h3 data-i18n="_New_file_">New file</h3>
        <label id="new_file">
          <input type="text" ng-model="new_file_name" data-i18n-attr="_Filename_|placeholder">
          <select ng-model="new_file_extension">
            <option value=".tex" selected>.tex</option>
            <option value=".bib">.bib</option>
          </select>
          <button class="button" ng-disabled="new_file_name==null || new_file_name=''" ng-click="newFile(new_file_name+new_file_extension)" data-i18n="_New_file_"></button>
        </label>
      </section>
      <section id="upload_resource" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="file-hover">
        <h3 data-i18n="_New_resource_">New Resource</h3>
        <label id="new_file">
          <span class="icon type-{{new_file.extension}}"></span>
          <div class="label" ng-hide="new_file.title==null" ng-click="insertResource(file)">{{new_file.name}}<span class="extension">.{{new_file.extension}}</span></div>
          <span ng-hide="new_file.title!=null">Select a file <span ng-file-drop-available="dropSupported=true" ng-show="!dropSupported"> or drag a file</span></span>
          <input type="file" ng-file-select="onFileSelect($files)">
        </label>
        <button ng-click="uploadResource()" ng-disabled="new_file.title==null">Upload</button>
        <button ng-click="cancelUploadResource()" ng-disabled="new_file.title==null">Cancel Upload</button>
      </section>
    </div>
  </section>
</section>