<section id="paper">
    <section class="centerRightCol">
        <section class="centerCol">
            <div ng-show="mode=='ace'" ui-ace="{
              useWrapMode : true,
              showGutter: true,
              mode: 'latex',
              onLoad: aceLoaded,
              onChange: aceChanged
            }" ng-model="content" itsalltext-extension=".tex"></div>
            <textarea ng-hide="mode=='ace'" ng-model="content" itsalltext-extension=".tex"></textarea>
        </section>
        <section class="rightCol">
            <div id="preview">
              <div class="preview_page_container">
                <img class="preview_page" src="//writelatex.s3.amazonaws.com/qkmscjgckstd/page/e3ec3f7bcb5c9e01a9e1630ddbabce9ec89edda4.jpeg">
              </div>
              <div class="preview_page_container">
                <img class="preview_page" src="//writelatex.s3.amazonaws.com/qkmscjgckstd/page/4e97a487a6e1525e2c7d548b98caa06447003d8c.jpeg">
              </div>
            </div>
        </section>
    </section>
    <section class="leftCol">
      <div class="btn-group listType">
        <label class="btn btn-default" ng-class="{'active': listType=='files'}" for="files">
            <input type="radio" name="listType" value="files" id="files" ng-model="listType">
            <span class="icon-file"></span>
        </label>
        <label class="btn btn-default" ng-class="{'active': listType=='toc'}" for="toc">
            <input type="radio" name="listType" value="toc" id="toc" ng-model="listType">
            <span class="icon-list" ></span>
        </label>
        <label class="btn btn-default" ng-class="{'active': listType=='figures'}" for="figure">
            <input type="radio" name="listType" value="figures" id="figure" checked="true" ng-model="listType">
            <span class="icon-vignette"></span>
        </label>
      </div>
      <section class="list">
        <div class="toc" ng-show="listType=='toc'"><div bl-toc="toc"></div></div>
        <div class="figures" ng-show="listType=='figures'">
          <div class="preview_page_container">
            <img class="preview_page" src="//writelatex.s3.amazonaws.com/qkmscjgckstd/page/e3ec3f7bcb5c9e01a9e1630ddbabce9ec89edda4.jpeg">
          </div>
          <div class="preview_page_container">
            <img class="preview_page" src="//writelatex.s3.amazonaws.com/qkmscjgckstd/page/4e97a487a6e1525e2c7d548b98caa06447003d8c.jpeg">
          </div>
        </div>
        <div class="files" ng-show="listType=='files'">
          <div id="file_list">
            <div class="file" ng-repeat="file in resources" ng-click="">
              <div class="icon type-{{file.extension}}"></div>
              <div class="label" ng-click="insertResource(file)">{{file.name}}<span class="extension">.{{file.extension}}</span></div>
              <button ng-click="removeResource(file)" class="icon-delete"></button>
              <button ng-click="viewResource(file)" class="icon-view"></button>
              <button ng-click="downloadResource(file)" class="icon-download"></button>
              <div class="clear"></div>
            </div>
          </div>
          <section id="upload_resource" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="file-hover">
            <h3>New Resource</h3>
            <label id="new_file">
              <span class="icon type-{{new_file.extension}}"></span>
              <div class="label" ng-hide="new_file.title==null" ng-click="insertResource(file)">{{new_file.name}}<span class="extension">.{{new_file.extension}}</span></div>
              <span ng-hide="new_file.title!=null">Select a file <span ng-file-drop-available="dropSupported=true" ng-show="!dropSupported"> or drag a file</span></span>
              <input type="file" ng-file-select="onFileSelect($files)">
            </label>
            <button ng-click="uploadResource()" ng-disabled="new_file.title==null">Upload</button>
            <button ng-click="cancelUploadResource()" ng-disabled="new_file.title==null">Cancel Upload</button>
          </section>
        </div>
      </section>
    </section>
</section>