<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1 data-i18n="_ResetTitle_"></h1>
      <form name="resetForm" novalidate ng-submit="reset()">
        <div ng-show="errors.length > 0" class="errors bloc">
          <div ng-repeat="error in errors" class="error">{{error}}</div>
        </div>
        <div class="form-group"
          ng-class="{'has-error': resetForm.username.$invalid}">
          <input class="form-control" name="username" type="text"
            data-i18n-attr="_Username_|placeholder" required ng-model="user.username" />
            <span class="control-label"
              ng-show="resetForm.username.$error.required" data-i18n="_Required_"></span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary pull-right" ng-disabled="!resetForm.$valid"
            data-i18n-attr="_Submit_|value" data-i18n-attr="_Submit_|title">
            <span data-i18n="_Submit_"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>