Hi {{firstName}},

You just registered to the \Blue service.

To activate your account and set your password, please follow this link:
{{baseUrl}}/reset.html?user={{name}}&token={{token}}

This link is valid during {{validity}} days.

If you did not register to the \Blue service, you can just ignore this email.

Thank you for using \Blue

Your \Blue team
