{{=<% %>=}}
% template for Lecture Notes in Computer Science
% for more explanations look at http://www.springer.com/computer/lncs?SGWID=0-164-6-793341-0

\documentclass{llncs}

\begin{document}

\title{<% title %>}

\author{<% author %>\inst{1} \and Your Co-Author\inst{2}}

\institute{<%email %>, <% affiliation %>, Street, City, Country
\and
Institute, Street, City, Country}

\maketitle
%
\begin{abstract}
This is the abstract.
\end{abstract}
%
\section{Introduction}
Your wonderful introduction

\section{Remainder of Your Paper}

blablabla

%
% The following two commands are all you need in the
% initial runs of your .tex file to
% produce the bibliography for the citations in your paper.
%\bibliography{<% id %>}

\end{document}
