{{=<% %>=}}
% template for Tighter Alternate style
% for more explanations look at http://www.acm.org/sigs/publications/proceedings-templates#aL2

\documentclass{sig-alternate}

\begin{document}
%
\conferenceinfo{WOODSTOCK}{'97 El Paso, Texas USA}
%\CopyrightYear{2007} % Allows default copyright year (20XX) to be over-ridden - IF NEED BE.
%\crdata{0-12345-67-8/90/01}  % Allows default copyright data (0-89791-88-6/97/05) to be over-ridden - IF NEED BE.
% --- End of Author Metadata ---

\title{<% title %>}

\numberofauthors{2}

\author{
% 1st. author
\alignauthor
<% author %>\\
       \affaddr{<% affiliation %>}\\
       \affaddr{Street}\\
       \affaddr{City, Country}\\
       \email{<% email %>}
% 2nd. author
\alignauthor
Your Co-Author\\
       \affaddr{Institute}\\
       \affaddr{Street}\\
       \affaddr{City, Country}\\
       \email{second.author@email.com}
}

\maketitle
\begin{abstract}
This is the abstract.
\end{abstract}

% A category with the (minimum) three required fields
\category{H.4}{Information Systems Applications}{Miscellaneous}
%A category including the fourth, optional field follows...
\category{D.2.8}{Software Engineering}{Metrics}[complexity measures, performance measures]

\terms{Theory}

\keywords{ACM proceedings, \LaTeX, text tagging}

\section{Introduction}
Your wonderful introduction

\section{Remainder of Your Paper}

blablabla

%
% The following two commands are all you need in the
% initial runs of your .tex file to
% produce the bibliography for the citations in your paper.
%\bibliographystyle{abbrv}
%\bibliography{<% id %>}

\end{document}
