{{=<% %>=}}
% template for Strict Adherence to SIGS style.
% for more explanations look at http://www.acm.org/sigs/publications/proceedings-templates#aL1

\documentclass{sigproc-sp}

\begin{document}

\title{<% title %>}

\numberofauthors{2}

\author{
% 1st. author
\alignauthor
<% author %>\\
       \affaddr{<% affiliation %>}\\
       \affaddr{Street}\\
       \affaddr{City, Country}\\
       \email{<% email %>}
% 2nd. author
\alignauthor
Your Co-Author\\
       \affaddr{Institute}\\
       \affaddr{Street}\\
       \affaddr{City, Country}\\
       \email{second.author@email.com}
}

\maketitle
\begin{abstract}
This is the abstract.
\end{abstract}

% A category with the (minimum) three required fields
\category{H.4}{Information Systems Applications}{Miscellaneous}
%A category including the fourth, optional field follows...
\category{D.2.8}{Software Engineering}{Metrics}[complexity measures, performance measures]

\terms{Template}

\keywords{ACM proceedings, \LaTeX, text tagging}

\section{Introduction}
Your wonderful introduction

\section{Remainder of Your Paper}

blablabla

%
% The following two commands are all you need in the
% initial runs of your .tex file to
% produce the bibliography for the citations in your paper.
%\bibliographystyle{abbrv}
%\bibliography{<% id %>}

\end{document}
