{{=<% %>=}}
\documentclass{article}

\usepackage[T1]{fontenc} %% to get Type 1 fonts
\usepackage[utf8]{inputenc} %% to enable non ASCII characters
\usepackage[margin=2cm]{geometry} %% to change the margins

\title{<% title %>}

\author{Your Name \and Your Co-author}


\begin{document}
\maketitle

\section{First Section}
Some text

\section{Second Section}

% to add the bibliography, uncomment the following line
%\bibliography{<% id %>}
\end{document}
